.container {
    padding: 1.25rem;
    max-width: 75rem;
    margin: 0 auto;
}

.lease-management {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1.25rem;
}

.lease-management-btn {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 0.62rem 1.25rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 0.25rem;
}

.lease-management-btn:hover {
    background-color: #45a049;
}

.summary-flex {
    display: flex;
    justify-content: space-between;
    border: 0.06rem solid #ccc;
    padding: 1.25rem;
}

.summary-item {
    flex: 1;
    text-align: center;
    padding: 0 0.6rem;
}

.summary-item:not(:last-child) {
    border-right: 0.06rem solid #ccc;
}

h3 {
    font-size: 1rem;
    margin-bottom: 0.6rem;
}

p {
    font-size: 1.2rem;
    font-weight: bold;
}