.rentals-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    position: relative;
    height: 100vh;
  }
  
  .add-rental-button {
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    z-index: 1;
    font-size: 1rem;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }
  
  .add-rental-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 80%;
    max-width: 600px;
  }
  
  .add-rental-form h3 {
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .add-rental-form label {
    display: block;
    margin-bottom: 8px;
  }
  
  .add-rental-form input {
    width: calc(100% - 16px);
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  .button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .form-button {
    flex: 1;
    margin-right: 10px;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
  }
  
  .form-button:last-child {
    margin-right: 0;
  }
  
  .cancel-button {
    background-color: #700700;
    color: white;
    border: none;
  }
  
  .add-rental-button {
    background-color: #4CAF50;
    color: white;
    border: none;
  }
  
  .rental-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 800px;
  }
  
  .rental-card {
    background-color: #f0f0f0;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .filter-add-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 800px;
    margin-bottom: 10px;
  }
  
  .filter-container {
    display: flex;
    align-items: center;
  }
  
  .filter-container label {
    margin-right: 10px;
    font-weight: bold;
  }
  
  .filter-container select {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: white;
    cursor: pointer;
  }
  
  body.dark-mode .rental-card {
    background-color: grey;
    color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  body.dark-mode .add-rental-form {
    background-color: #514f4f;
    padding: 20px;
    color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 80%;
    max-width: 600px;
  }